<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Enter details</nb-card-header>
      <nb-card-body>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="gender" class="label">Gender</label>
            <nb-radio-group formControlName="gender" name="gender">
              <nb-radio
                [value]="'Male'">
                Male
              </nb-radio>
              <nb-radio
                [value]="'Female'">
                Female
              </nb-radio>
              <nb-radio
                [value]="'Other'">
                Other
              </nb-radio>
            </nb-radio-group>
          </div>
          <div class="form-group">
            <label for="dob" class="label">Enter Date of Birth</label>
            <input nbInput
               placeholder="Click to open Date Picker"
               [nbDatepicker]="formpicker"
               id="dob"
               formControlName="dob">
            <nb-datepicker #formpicker ></nb-datepicker>
          </div>
          <div class="form-group">
            <label for="qualifications" class="label">Enter qualifications</label>
            <textarea nbInput placeholder="E.g. M.B.B.S., M.D." id="qualifications" formControlName="qualifications"></textarea>
          </div>
          <div class="form-group">
            <label for="docId" class="label">Enter Medical Registration ID</label>
            <input type="text" nbInput fullWidth id="docId" placeholder="E.g. 2007/02/0260" formControlName="docId">
          </div>
          
          <button type="submit" nbButton status="danger">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>

   
  </div>

 
</div>
