@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}
.grid2x2 {
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	>div {
		display: flex;
		flex-basis: calc(50% - 40px);
		justify-content: center;
		flex-direction: column;
		>div {
			display: flex;
			justify-content: center;
			flex-direction: row;
		}
	}
}
.box {
	margin: 15px;
}
.profile-heading {
	color: #192038;
    font-family: Open Sans, sans-serif;
    font-size: 1.2375rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.profile-subheading {
	font-family: Open Sans, sans-serif;
    font-size: 1.8125rem;
    font-weight: 600;
	line-height: 1.5rem;
	color: #8f9bb3;
}