@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}
.grid2x2 {
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	>div {
		display: flex;
		flex-basis: calc(50% - 40px);
		justify-content: center;
		flex-direction: column;
		>div {
			display: flex;
			justify-content: center;
			flex-direction: row;
		}
	}
}
.box {
	margin: 20px;
}
.box1 {
	background-color: red;
}
.box2 {
	background-color: orange;
}
.box3 {
	background-color: purple;
}
.box4 {
	background-color: grey;
}
